*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}
html{
    font-size: 100%;
}
header{
    width: 100%;
    height: 100vh;
}
.main{
    background-image: url("C:/Users/adina/Downloads/img.jpg");
    background-position: 0%;

}

.container{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(100%);
}
img{
    height: 80px;
}
nav{
    width: auto;
    height: 70px;
    display: flex;
    padding: 0px 70px;
    color: aliceblue;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(9, 43, 43);
}
#navbar a{
    padding: 10px 20px;
    box-shadow: 2px 0px 5px red;
    margin: 5px;
    color: whitesmoke;
}